<h1>Categorias de Carros</h1>
<% if @car_categories.empty? %>
  <h3>Não há categorias cadastradas no sistema. <%= link_to 'Clique aqui', new_car_category_path %> para cadastrar uma nova categoria</h3>
  <% else %>
  <p><%= link_to 'Cadastrar nova categoria', new_car_category_path %></p>
<% end %>


<ul>
  <% @car_categories.each do |category| %>
    <li>
      <%= link_to category.name, car_category_path(category) %>
    </li>
  <% end %>
</ul>

<div><%= link_to 'Voltar', root_path %></div>