<h1>Fabricantes</h1>
<% if @manufacturers.any? %>
  <%= link_to 'Registrar novo fabricante', new_manufacturer_path %>
<%end %>

<% if @manufacturers.empty? %>
  <h3> Não ha fabricantes cadastrados no sistema, <%= link_to "clique aqui", new_manufacturer_path %> para
  registrar um novo fabricante.
  </h3>
<% end %>

<ul>
  <% @manufacturers.each do |manufacturer|%>
    <li><%= link_to manufacturer.name, manufacturer %></li>
  <% end %>
</ul>

<%= link_to 'Voltar', root_path %>